.items ul{
    text-decoration: none;
    /* border: 1px solid red; */
  
}
 

.item  a {
    display: inline-block;
    padding: 0px 1em;
    font-size: 14px;
    /* font-size: 0.93333333333333rem; */
    color: var(--ast-global-color-2);
    font-weight: 350;
    cursor: pointer;
    text-decoration: none;
    height: 83px;
    padding-top: 26px;
 
}
.item a:hover{
    border-top: 1px solid #83471f;
    color: #83471f;
}
.items{
    font-size: 14px;
    font-size: 0.93333333333333rem;
    color: var(--ast-global-color-2);
    margin-top: 30px;
} 

.me {
    display: flex;
    padding-left: 28px;
    margin-top: -28px;
}







/* .page ul{
    /* display: flex; */
    /* text-decoration: none;
}
.page ul li{
    display: inline-block;
    padding: 25px 1em;
 
}
.pages{
    border: 1px solid red;
} */ 
