.page ul{
    /* display: flex; */
  
    margin-bottom: 0px;
}   
.page  a{
    display: inline-block;
    padding: 0px 1em;
    font-size: 14px;
    /* font-size: 0.93333333333333rem; */
    color: var(--ast-global-color-2);
    font-weight: 350;
    cursor: pointer;
    text-decoration: none;
    height: 83px;
    padding-top: 26px;
    
 
}
.page .home:hover {
    
    border-top: 1px solid #83471f;
    color: #83471f;
  
}
.pages{
    /* border: 1px solid red; */
    font-size: 14px;
    font-size: 0.93333333333333rem;
    color: var(--ast-global-color-2);
   
}
.page{
    margin-top: -4px;
}
#search{
    font-size: 20px;
}
#shopping{
    font-size: 20px;
}
nav #shopping:hover{
    color: #83471f !important;
    /* color: var(--ast-global-color-0); */
 
}
