.trending-product{
    width: 67%;
    /* border: 1px solid red; */
    /* height: 135px; */
    margin: auto;
}
.trending-txt{
    margin: auto;
/* display: table; */
}
.trending-txt h2{
    font-weight: normal;
font-family: 'Cinzel',serif;
line-height: 1em;
text-transform: uppercase;
font-size: 45px;
}
#popular{
    margin: auto;
    display: table;
}
#popular-head{
  
        margin: auto;
        display: table;
        margin-bottom: 70px;
   
}
.all-product{
    display: flex;
    /* justify-content: space-evenly; */
}

.product-item {
    margin: auto;
}
hr{
    /* color: #83471f; */
    width: 52px;
margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: -53px;
height: 1px;
margin-bottom: 38px;
border: 1px solid #83471f;
}
@media screen and (max-width: 1440px){  
    .trending-product{
        width: 80%;
    }
    .all-product{
        overflow: hidden;
    }
    .card-items img {
        width: 200px;
        height: 270px;
    }
    .card-category{
        margin: -81px 0px 0px -46px;
    }
    .card-width{
        margin-left: -45px;
    }
  
    
}
